{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil - PROJECTPATH</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/profil.css' %}">
</head>
<body>

    <!-- NAVBAR unifiée -->
    <nav>
        <div class="logo">
            <i class="fa-solid fa-rocket"></i>
            <div class="txt">
                <h4>PROJECTPATH</h4>
                <p>Innovation Hub</p>
            </div>
        </div>
        <div class="nav-links" id="nav-links">
            <div id="dash" class="same" data-page="{%url 'home' user_id%}">
                <i class="fa-solid fa-house-user"></i>
                <p>Dashboard</p>
            </div>
            <div class="same" id="soumettre" data-page="{%url 'add_project' user_id%}">
                <i class="fa-solid fa-folder-plus"></i>
                <p>Soumettre un projet</p>
            </div>
            <div class="same" id="besoin" data-page="{%url 'add_request' user_id%}">
                <i class="fa-regular fa-square-plus"></i>
                <p>Déclarer un besoin</p>
            </div>
            <div class="same" id="message" data-page="{%url 'message_etudiant' user_id%}">
                <i class="fa-regular fa-message"></i>
                <p>Messages</p>
            </div>
            <div class="same active" id="profil" data-page="{%url 'user_details' user_id%}">
                <i class="fa-regular fa-user"></i>
                <p>Profil</p>
            </div>

            <div class="same" id="profil" data-page="{%url 'logout'%}">
                <p>Se déconnecter</p>
            </div>

        <div class="nav-right">
            <div class="compte">
                <span id="s1">{{ user.first_name|first }}</span>
                <span id="s2">{{user.last_name}} {{user.first_name}}</span>
            </div>
            <div class="hamburger" onclick="document.getElementById('nav-links').classList.toggle('show')">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </nav>

    <!-- MAIN CONTENT -->
    <main class="container">
        
        <!-- Banner Profile -->
        <section class="banner profil-banner">
            <div class="profil-header">
                <div class="profil-info">
                    <h1>{{ user.first_name }} {{ user.last_name }}</h1>
                    <p>{{ user.adresse_mail }}</p>
                    <span class="badge-role"> Etudiant</span>
                </div>
            </div>
        </section>

        <!-- Card 1: Information de profil -->
        <section class="card">
            <div class="card-header">
                <div>
                    <h2>Information de profil</h2>
                    <p>Gérer vos informations personnelle</p>
                
            </div>
            

             <div class="info-section">
                <div class="info-title">
                    <i class="fa-regular fa-user"></i> Informations personnelles
                </div>
                <div class="info-grid">
                    <div class="form-group">
                        <label >Matricule</label>
                        <input type="number" value={{user.matricule}} disabled class="input-disabled">
                    </div>              

                    <div class="form-group">
                        <label>Nom</label>
                        <input type="text" value="{{ user.last_name }}" disabled class="input-disabled">
                    </div>

                    <div class="form-group">
                        <label>Prenom</label>
                        <input type="text" value="{{ user.first_name }}" disabled class="input-disabled">
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" value="{{ user.email }}" disabled class="input-disabled">
                    </div>
                    <br>

                    <div class="form-group">
                        <label for="nom">Numero de telephone</label>
                        <input type="number" id="nom" value=0{{user.telephone}} disabled class="input-disabled">
                    </div>

                    <div class="form-group">
                        <label for="niveau">
                            <i class="fa-solid fa-graduation-cap"></i> Niveau
                        </label>
                        <input type="text" id="niveau" value={{user.niveau_etude}} disabled class="input-disabled">
                    </div>
                    <div>
                    <p>&nbsp;</p>
                    <a href = "{%url 'modify_user_account' user.id%}">Modifier votre compte utilisateur.</a>
        </div>

                </div>
            </div>

            <div class="info-section mt-30">
                <div class="info-title">
                    Type du compte
                </div>
                <div class="account-type-box">
                    <div class="account-icon">
                        <i class="fa-solid fa-user-tie"></i>
                    </div>
                    <div class="account-content">
                        <h4>Etudiant</h4>
                        <p>Vous pouvez soumettre vos projets et faire des demandes de besoins</p>
                    </div>
                </div>
            </div>
        </section>



    </main>

    <footer style="margin-top: 50px; text-align: center; color: #6b7280; font-size: 13px; padding-bottom: 20px;">
        <p>© 2026 PROJECTPATH - Plateforme de déclaration des startups</p>
        <p>École Nationale | Innovation & Entrepreneuriat</p>
    </footer>

    <script src="{% static 'js/profil.js' %}"></script>
</body>
</html>



